<html>
    <head>
    </head>
    <body>
        <h1>Welcome {{username}}</h1>

        <h3>Change Flight Status</h3>
        <form action = "/change_status" method = "POST">
            <input type="text" name = "flight_number" placeholder="Flight Number" required/></br>
            <input type="date" id="departure_date" name = "departure_date" required/></br>
        	<input type="time" id="departure_time" name = "departure_time" required/></br>
            <input type="text" name="airline_name" placeholder="Airline Name" required/> </br>

            <h3>Updated Flight Status</h3>
            <input type="text" name="status" placeholder="Status" required/> </br>

            <input type = "submit" value = "Change Status">
        </form><br>

        <a href="/airline_staff_home">Back</a>
        <a href="/airline_staff_logout">Logout</a>

    </body>


</html>
