<html>
    <head>
    </head>
    <body>
        <h1>Welcome {{username}}</h1>

        <a href = "/add_flight">Add Flight</a><br>

        <a href = "/airline_staff_view_flights">View Flights</a><br>

        <a href = "/airline_staff_change_flight_status">Change Flight Status</a><br>

        <a href = "/add_airplane">Add Airplane</a><br>

        <a href = "/add_airport">Add Airport</a><br>
        
        <a href = "/view_flight_ratings">View Flight Ratings</a><br>

        <a href = "/view_frequent_customers">View Frequent Customers</a><br>

        <a href = "/airline_staff_view_reports">View Report</a><br>
        
         <a href = "/airline_staff_view_revenue">View Earned Revenue</a><br>

        <a href="/airline_staff_logout">Logout</a>

    </body>


</html>
