<html>
    <head>
    </head>
    <body>
        <h1>Welcome {{username}}</h1>
        
        <a href = "/airline_staff_view_flights_next_month">View Next Month's Flights</a><br>

        <a href = "/airline_staff_view_flights_custom_date_range">View Flights (Custom Date Range)</a><br>

        <a href = "/airline_staff_view_flights_customers">View Flights Customers</a><br>


        <a href="/airline_staff_home">Back</a>
        <a href="/airline_staff_logout">Logout</a>

    </body>


</html>
