<!DOCTYPE html>
<html>
<head>
</head>
<body>
    
    <form action = "/airline_staff_add_airplaneAuth" method = "POST">
        <label> ID: </label><br>
        <input type = "text" name = "ID" placeholder = "ID" required/><br><br>
        <label> Capacity: </label><br>
        <input type = "text" name = "capacity" placeholder = "Capacity"/><br><br>
        <label> Manufacturer: </label><br>
        <input type = "text" name = "manufacturer" placeholder = "Manufacturer"/><br><br>
        <label> Manufactured Date: </label><br>
        <input type = "text" name = "manufactured_date" placeholder = "Manufactured Date"/><br><br>
        <input type = "submit" value = "Add Airplane" />
        {% if error %}
                <p class="error"><strong>Error:</strong> {{error}}</p>
            {% endif %}
    </form><br>

    <style type="text/css">
        table, th, td{
            border: 1px solid black;
        }
    </style>

    <table>
        <th>ID</th>
        <th>Airline Name</th>
        <th>Capacity</th>
        <th>Manufacturer</th>
        <th>Manufactured Date</th>

    {% for line in airplanes %}
        <tr>
            <td>{{line['ID']}}</td>
            <td>{{line['airline_name']}}</td>
            <td>{{line['capacity']}}</td>
            <td>{{line['manufacturer']}}</td>
            <td>{{line['manufactured_date']}}</td>
        </tr>
    {% endfor %}
    </table>
    
    <a href = "/airline_staff_home"> Go Back</a>



</body>
</html>
