<html>
<head>
</head>
<body>

<h1>Welcome {{email}}</h1>

<p>Last Year Spending: {{total}}</p>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Month</th>
    <th>Spending</th>


    {% for key in monthly_spending %}
        <tr>
            <td>{{key}}</td>
            <td>{{monthly_spending[key]}}</td>
        </tr>
    {% endfor %}
</table>

<a href = "/track_spending_range">Track My Spending Over Range</a>
<br>
<a href="/customer_home">Back Home</a>
<br>
<a href="/customer_logout">Logout</a>

</body>


</html>
